## First we explore the spray.csv

In [1]:
import pandas as pd
import numpy as np
spray = pd.read_csv('../datasets/spray.csv')

In [2]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [3]:
def explore(df):
    print(df.shape)
    print("")
    print(df.head())
    print("")
    print(df.dtypes)
    print("")
    print(df.isnull().sum())
    print("")
    print(df.describe())
    
explore(spray)

(14835, 4)

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

Date          object
Time          object
Latitude     float64
Longitude    float64
dtype: object

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

           Latitude     Longitude
count  14835.000000  14835.000000
mean      41.904828    -87.736690
std        0.104381      0.067292
min       41.713925    -88.096468
25%       41.785001    -87.794225
50%       41.940075    -87.727853
75%       41.980978    -87.694108
max       42.395983    -87.586727

In [4]:
#checking the list of date that spraying occured
spray['Date'] = pd.to_datetime(spray['Date'])
spray['Time'] = pd.to_timedelta(spray['Time'])
spray.groupby(['Date']).count()

            Time  Latitude  Longitude
Date
2011-08-29    95        95         95
2011-09-07  1530      2114       2114
2013-07-17  2202      2202       2202
2013-07-25  1607      1607       1607
2013-08-08  1195      1195       1195
2013-08-15  2668      2668       2668
2013-08-16   141       141        141
2013-08-22  1587      1587       1587
2013-08-29  2302      2302       2302
2013-09-05   924       924        924

In [5]:
#checking which are the dates that time is null
nans = lambda spray: spray[spray.isnull().any(axis=1)]
nans(spray)

           Date Time   Latitude  Longitude
1030 2011-09-07  NaT  41.987092 -87.794286
1031 2011-09-07  NaT  41.987620 -87.794382
1032 2011-09-07  NaT  41.988004 -87.794574
1033 2011-09-07  NaT  41.988292 -87.795486
1034 2011-09-07  NaT  41.988100 -87.796014
1035 2011-09-07  NaT  41.986372 -87.794862
1036 2011-09-07  NaT  41.986228 -87.795582
1037 2011-09-07  NaT  41.984836 -87.793998
1038 2011-09-07  NaT  41.984836 -87.794670
1039 2011-09-07  NaT  41.984884 -87.795198
1040 2011-09-07  NaT  41.982820 -87.793182
1041 2011-09-07  NaT  41.982772 -87.793950
1042 2011-09-07  NaT  41.982772 -87.795006
1043 2011-09-07  NaT  41.983444 -87.795246
1044 2011-09-07  NaT  41.984068 -87.795438
1045 2011-09-07  NaT  41.984596 -87.795534
1046 2011-09-07  NaT  41.984980 -87.795630
1047 2011-09-07  NaT  41.986708 -87.796110
1048 2011-09-07  NaT  41.987524 -87.796302
1049 2011-09-07  NaT  41.988820 -87.796638
1050 2011-09-07  NaT  41.989444 -87.796830
1051 2011-09-07  NaT  41.990068 -87.796974
1052 2011-09-07  NaT  41.988244 -87.797022
1053 2011-09-07  NaT  41.988196 -87.797742
1054 2011-09-07  NaT  41.988196 -87.798366
1055 2011-09-07  NaT  41.988196 -87.798942
1056 2011-09-07  NaT  41.988196 -87.799422
1057 2011-09-07  NaT  41.986372 -87.796494
1058 2011-09-07  NaT  41.986372 -87.797310
1059 2011-09-07  NaT  41.986372 -87.798030
...         ...  ...        ...        ...
1584 2011-09-07  NaT  41.992372 -87.816367
1585 2011-09-07  NaT  41.992468 -87.815839
1586 2011-09-07  NaT  41.992516 -87.815311
1587 2011-09-07  NaT  41.992564 -87.814735
1588 2011-09-07  NaT  41.992612 -87.814303
1589 2011-09-07  NaT  41.992612 -87.813775
1590 2011-09-07  NaT  41.992612 -87.813343
1591 2011-09-07  NaT  41.992660 -87.812767
1592 2011-09-07  NaT  41.992660 -87.812191
1593 2011-09-07  NaT  41.992612 -87.811663
1594 2011-09-07  NaT  41.992660 -87.811279
1595 2011-09-07  NaT  41.992660 -87.810847
1596 2011-09-07  NaT  41.992612 -87.810415
1597 2011-09-07  NaT  41.992660 -87.809455
1598 2011-09-07  NaT  41.992660 -87.809983
1599 2011-09-07  NaT  41.992708 -87.808927
1600 2011-09-07  NaT  41.992708 -87.808399
1601 2011-09-07  NaT  41.992756 -87.807775
1602 2011-09-07  NaT  41.992756 -87.807199
1603 2011-09-07  NaT  41.996164 -87.813727
1604 2011-09-07  NaT  41.995732 -87.813679
1605 2011-09-07  NaT  41.994916 -87.813727
1606 2011-09-07  NaT  41.992948 -87.813775
1607 2011-09-07  NaT  41.996644 -87.811567
1608 2011-09-07  NaT  41.996260 -87.811567
1609 2011-09-07  NaT  41.995876 -87.811615
1610 2011-09-07  NaT  41.995972 -87.810271
1611 2011-09-07  NaT  41.995684 -87.810319
1612 2011-09-07  NaT  41.994724 -87.810415
1613 2011-09-07  NaT  41.993092 -87.810415

[584 rows x 4 columns]

Spray conclusion: <br>
    spray.shape = (14835, 4)<br>
    584 null values in Time column only, all null values are in 2011-09-07<br>
    However, not all 2011-09-07 time are null values (584/1530 are nulls)<br>
    
    changed Date and Time to datetime and timedelta respectively<br>
    
    2 sprays in 2011, once in Aug, once in Sept<br>
    8 sprays in 2013, twice in July, 5 times in Aug, once in Sept<br>
    
sidenote: might be linked to weather conditions<br> 
(ie hotter in 2013 than 2011, or increased mosquitoes activites hence an increase in sprays)

In [6]:
spray_2 = spray

In [7]:
spray_2.to_csv("../datasets/spray_2.csv", index=False)

## Now, we move on to explore "weather.csv"

In [107]:
weather = pd.read_csv('../datasets/weather.csv')

In [108]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [109]:
explore(weather)

(2944, 22)

   Station        Date  Tmax  Tmin Tavg Depart  DewPoint WetBulb Heat Cool  \
0        1  2007-05-01    83    50   67     14        51      56    0    2
1        2  2007-05-01    84    52   68      M        51      57    0    3
2        1  2007-05-02    59    42   51     -3        42      47   14    0
3        2  2007-05-02    60    43   52      M        42      47   13    0
4        1  2007-05-03    66    46   56      2        40      48    9    0

   ... CodeSum Depth Water1 SnowFall PrecipTotal StnPressure SeaLevel  \
0  ...             0      M      0.0        0.00       29.10    29.82
1  ...             M      M        M        0.00       29.18    29.82
2  ...      BR     0      M      0.0        0.00       29.38    30.09
3  ...   BR HZ     M      M        M        0.00       29.44    30.08
4  ...             0      M      0.0        0.00       29.39    30.12

  ResultSpeed ResultDir  AvgSpeed
0         1.7        27       9.2
1         2.7        25       9.6
2        13.0         4      13.4
3        13.3         2      13.4
4        11.7         7      11.9

[5 rows x 22 columns]

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

           Station         Tmax         Tmin     DewPoint  ResultSpeed  \
count  2944.000000  2944.000000  2944.000000  2944.000000  2944.000000
mean      1.500000    76.166101    57.810462    53.457880     6.960666
std       0.500085    11.461970    10.381939    10.675181     3.587527
min       1.000000    41.000000    29.000000    22.000000     0.100000
25%       1.000000    69.000000    50.000000    46.000000     4.300000
50%       1.500000    78.000000    59.000000    54.000000     6.400000
75%       2.000000    85.000000    66.000000    62.000000     9.200000
max       2.000000   104.000000    83.000000    75.000000    24.100000

         ResultDir
count  2944.000000
mean     17.494905
std      10.063609
min       1.000000
25%       7.000000
50%      19.000000
75%      25.000000
max      36.000000

In [110]:
#expand the Date column to Year,Month,Day to check on the period of data and see if there are any missing days/months
from pandas import Timestamp

weather['Date'] = pd.to_datetime(weather['Date'])
weather['Year'] = weather['Date'].dt.year
weather['Month'] = weather['Date'].dt.month
weather['Day'] = weather['Date'].dt.day

# Show three rows
weather.head(3)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Year,Month,Day
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0.0,0.00,29.10,29.82,1.7,27,9.2,2007,5,1
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,M,0.00,29.18,29.82,2.7,25,9.6,2007,5,1
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0.0,0.00,29.38,30.09,13.0,4,13.4,2007,5,2

In [111]:
#Creating dummy variables for the weather CodeSum data
weather.CodeSum = weather.CodeSum.apply(str.split)
for (i,list_) in enumerate(weather.CodeSum):
    for item in list_:
        if item not in weather.columns:
            weather[item] = 0
            weather.set_value(col=item,index=i,value=1)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys

In [112]:
#replacing codes with other values
weather = weather.replace('M',0)
weather = weather.replace('-',np.nan)
weather = weather.replace(' ',np.nan)
weather = weather.replace('T',0.0005)

In [113]:
#dropping these columns since they are used for winter purposes,
#hence their values are zero and empty for the other weather station
weather = weather.drop(['Depth','Water1','SnowFall'],axis=1)

In [114]:
#To fill missing Tavg data with Average Temp.
for i in range(weather.shape[0]):
    if weather.loc[i,'Tavg'] == 0:
        weather.loc[i,'Tavg'] = int(np.round((weather.loc[i,'Tmax'] + weather.loc[i,'Tmin'])/2))
    else:
        weather.loc[i,'Tavg'] = weather.loc[i,'Tavg']

In [115]:
columns = ['Tavg',
           'Depart']

for i in columns:
    weather[i] = weather[i].astype(str).astype(float)

#source: [https://www.theweatherprediction.com/habyhints/170/] <br>
A quick technique that many forecasters use to determine the wet-bulb temperature <br>
is called the "1/3 rule". The technique is to first find the dewpoint depression (temperature minus dewpoint). <br>
Then take this number and divide by 3. Subtract this number from the temperature.<br>

Since there are only 4 missing wetbulb cells, we will use this estimate<br>
wet bulb might be linked to humidity, we might be able to create a feature engineer a new column<br>

In [116]:
#To estimate the value for 'WetBulb'
for i in range(weather.shape[0]):
    if weather.loc[i,'WetBulb'] == 0:
        weather.loc[i,'WetBulb'] = np.round(weather.loc[i,'Tavg'] - (weather.loc[i,'Tavg'] - weather.loc[i,'Depart'])/3)
                                                                    
    else:
        weather.loc[i,'WetBulb'] = weather.loc[i,'WetBulb']

#Heat
A heating degree day (HDD) is a measurement designed to quantify the demand for energy 
needed to heat a building. It is the number of degrees that a day's average temperature 
is below 65o Fahrenheit (18o Celsius), which is the temperature below which buildings 
need to be heated. 

#Cool
A cooling degree day (CDD) is a measurement designed to quantify the demand for energy 
needed to cool buildings. It is the number of degrees that a day's average temperature 
is above 65o Fahrenheit (18o Celsius).

In [117]:
#To estimate the value for 'Heat' and 'Cool'
for i in range(weather.shape[0]):
    if weather.loc[i,'Heat'] == 0:
        if 65 - weather.loc[i,'Tavg'] > 0:
            weather.loc[i,'Heat'] = 65 - weather.loc[i,'Tavg']
        else:
            weather.loc[i,'Heat'] = 0 
    else:
        weather.loc[i,'Heat'] = weather.loc[i,'Heat']

        

for i in range(weather.shape[0]):
    if weather.loc[i,'Cool'] == 0:
        if  weather.loc[i,'Tavg'] - 65 > 0:
            weather.loc[i,'Cool'] = weather.loc[i,'Tavg'] - 65
        else:
            weather.loc[i,'Cool'] = 0 
    else:
        weather.loc[i,'Cool'] = weather.loc[i,'Cool']

In [118]:
#changing traces of precipation total to 0.005 so that we can use the values to analyse the model
weather['PrecipTotal'] = weather['PrecipTotal'].replace(np.nan,'0.00')
weather['PrecipTotal'] = weather['PrecipTotal'].replace('  T','0.005')

In [119]:
#change station pressure np.nan to mean
weather['StnPressure'] = weather['StnPressure'].replace(np.nan,0)
weather['StnPressure'] = weather['StnPressure'].astype(str).astype(float)
weather['StnPressure'] = weather['StnPressure'].replace(0,weather['StnPressure'].mean())

In [120]:
#change sealevel np.nan to mean
weather['SeaLevel'] = weather['SeaLevel'].replace(np.nan,0)
weather['SeaLevel'] = weather['SeaLevel'].astype(str).astype(float)
weather['SeaLevel'] = weather['SeaLevel'].replace(0,weather['StnPressure'].mean())

In [121]:
columns = ['WetBulb',
           'Heat',
           'Cool',
           'PrecipTotal',
           'AvgSpeed',
           'Sunrise',
           'Sunset']

for i in columns:
    weather[i] = weather[i].astype(str).astype(float)

In [122]:
explore(weather)

(2944, 38)

   Station       Date  Tmax  Tmin  Tavg  Depart  DewPoint  WetBulb  Heat  \
0        1 2007-05-01    83    50  67.0    14.0        51     56.0   0.0
1        2 2007-05-01    84    52  68.0     0.0        51     57.0   0.0
2        1 2007-05-02    59    42  51.0    -3.0        42     47.0  14.0
3        2 2007-05-02    60    43  52.0     0.0        42     47.0  13.0
4        1 2007-05-03    66    46  56.0     2.0        40     48.0   9.0

   Cool  ...  TS  DZ BCFG  FG+  MIFG  FG  SQ  SN  VCFG  GR
0   2.0  ...   0   0    0    0     0   0   0   0     0   0
1   3.0  ...   0   0    0    0     0   0   0   0     0   0
2   0.0  ...   0   0    0    0     0   0   0   0     0   0
3   0.0  ...   0   0    0    0     0   0   0   0     0   0
4   0.0  ...   0   0    0    0     0   0   0   0     0   0

[5 rows x 38 columns]

Station                 int64
Date           datetime64[ns]
Tmax                    int64
Tmin                    int64
Tavg                  float64
Depart                float64
DewPoint                int64
WetBulb               float64
Heat                  float64
Cool                  float64
Sunrise               float64
Sunset                float64
CodeSum                object
PrecipTotal           float64
StnPressure           float64
SeaLevel              float64
ResultSpeed           float64
ResultDir               int64
AvgSpeed              float64
Year                    int64
Month                   int64
Day                     int64
BR                      int64
HZ                      int64
RA                      int64
TSRA                    int64
VCTS                    int64
FU                      int64
TS                      int64
DZ                      int64
BCFG                    int64
FG+                     int64
MIFG                    int64
FG                      int64
SQ                      int64
SN                      int64
VCFG                    int64
GR                      int64
dtype: object

Station           0
Date              0
Tmax              0
Tmin              0
Tavg              0
Depart            0
DewPoint          0
WetBulb           0
Heat              0
Cool              0
Sunrise        1472
Sunset         1472
CodeSum           0
PrecipTotal       0
StnPressure       0
SeaLevel          0
ResultSpeed       0
ResultDir         0
AvgSpeed          0
Year              0
Month             0
Day               0
BR                0
HZ                0
RA                0
TSRA              0
VCTS              0
FU                0
TS                0
DZ                0
BCFG              0
FG+               0
MIFG              0
FG                0
SQ                0
SN                0
VCFG              0
GR                0
dtype: int64

           Station         Tmax         Tmin         Tavg       Depart  \
count  2944.000000  2944.000000  2944.000000  2944.000000  2944.000000
mean      1.500000    76.166101    57.810462    67.239470     0.977242
std       0.500085    11.461970    10.381939    10.539316     4.934346
min       1.000000    41.000000    29.000000    36.000000   -17.000000
25%       1.000000    69.000000    50.000000    60.000000     0.000000
50%       1.500000    78.000000    59.000000    69.000000     0.000000
75%       2.000000    85.000000    66.000000    75.000000     2.000000
max       2.000000   104.000000    83.000000    94.000000    23.000000

          DewPoint      WetBulb         Heat         Cool      Sunrise  ...  \
count  2944.000000  2944.000000  2944.000000  2944.000000  1472.000000  ...
mean     53.457880    59.298573     3.402853     5.642323   480.646739  ...
std      10.675181     9.286920     5.946934     6.107219    65.344729  ...
min      22.000000    32.000000     0.000000     0.000000   416.000000  ...
25%      46.000000    53.000000     0.000000     0.000000   424.750000  ...
50%      54.000000    61.000000     0.000000     4.000000   446.500000  ...
75%      62.000000    67.000000     5.000000    10.000000   531.250000  ...
max      75.000000    78.000000    29.000000    29.000000   623.000000  ...

               TS          DZ        BCFG         FG+        MIFG          FG  \
count  2944.00000  2944.00000  2944.00000  2944.00000  2944.00000  2944.00000
mean      0.00034     0.00034     0.00034     0.00034     0.00034     0.00034
std       0.01843     0.01843     0.01843     0.01843     0.01843     0.01843
min       0.00000     0.00000     0.00000     0.00000     0.00000     0.00000
25%       0.00000     0.00000     0.00000     0.00000     0.00000     0.00000
50%       0.00000     0.00000     0.00000     0.00000     0.00000     0.00000
75%       0.00000     0.00000     0.00000     0.00000     0.00000     0.00000
max       1.00000     1.00000     1.00000     1.00000     1.00000     1.00000

               SQ          SN        VCFG          GR
count  2944.00000  2944.00000  2944.00000  2944.00000
mean      0.00034     0.00034     0.00034     0.00034
std       0.01843     0.01843     0.01843     0.01843
min       0.00000     0.00000     0.00000     0.00000
25%       0.00000     0.00000     0.00000     0.00000
50%       0.00000     0.00000     0.00000     0.00000
75%       0.00000     0.00000     0.00000     0.00000
max       1.00000     1.00000     1.00000     1.00000

[8 rows x 36 columns]

In [123]:
weather.shape

(2944, 38)

In [125]:
weather_2 = weather.groupby('Date').agg({'Year':'max',
                                         'Month':'max',
                                         'Day':'max',
                                         'Tmax':'mean', 
                                         'Tmin':'mean', 
                                         'Tavg':'mean', 
                                         'Depart': 'sum', 
                                         'DewPoint':'mean',
                                         'WetBulb':'mean',
                                         'Heat':'mean',
                                         'Cool':'mean',
                                         'Sunrise':'mean',
                                         'Sunset':'mean',
                                         'PrecipTotal':'mean',
                                         'StnPressure':'mean',
                                         'SeaLevel':'mean',
                                         'ResultSpeed':'mean',
                                         'ResultDir':'mean',
                                         'AvgSpeed':'mean',
                                         'BR':'max',
                                         'HZ':'max',
                                         'RA':'max',
                                         'TSRA':'max', 
                                         'VCTS':'max', 
                                         'FU':'max',
                                         'TS':'max',
                                         'DZ':'max',
                                         'BCFG':'max',
                                         'FG+':'max',
                                         'MIFG':'max',
                                         'SQ':'max',
                                         'SN':'max',
                                         'VCFG':'max',
                                         'GR':'max'})

In [200]:
explore(weather_2)

(1472, 35)

            Year  Month  Day  Tmax  Tmin  Tavg  Depart  DewPoint  WetBulb  \
Date
2007-05-01  2007      5    1  83.5  51.0  67.5    14.0      51.0     56.5
2007-05-02  2007      5    2  59.5  42.5  51.5    -3.0      42.0     47.0
2007-05-03  2007      5    3  66.5  47.0  57.0     2.0      40.0     49.0
2007-05-04  2007      5    4  72.0  50.0  61.0     4.0      41.5     50.0
2007-05-05  2007      5    5  66.0  53.5  60.0     5.0      38.5     49.5

            Heat  ...  TS DZ BCFG  FG+  MIFG  SQ  SN  VCFG  GR       Date
Date              ...
2007-05-01   0.0  ...   0  0    0    0     0   0   0     0   0 2007-05-01
2007-05-02  13.5  ...   0  0    0    0     0   0   0     0   0 2007-05-02
2007-05-03   8.0  ...   0  0    0    0     0   0   0     0   0 2007-05-03
2007-05-04   4.0  ...   0  0    0    0     0   0   0     0   0 2007-05-04
2007-05-05   5.0  ...   0  0    0    0     0   0   0     0   0 2007-05-05

[5 rows x 35 columns]

Year                     int64
Month                    int64
Day                      int64
Tmax                   float64
Tmin                   float64
Tavg                   float64
Depart                 float64
DewPoint               float64
WetBulb                float64
Heat                   float64
Cool                   float64
Sunrise        timedelta64[ns]
Sunset         timedelta64[ns]
PrecipTotal            float64
StnPressure            float64
SeaLevel               float64
ResultSpeed            float64
ResultDir              float64
AvgSpeed               float64
BR                       int64
HZ                       int64
RA                       int64
TSRA                     int64
VCTS                     int64
FU                       int64
TS                       int64
DZ                       int64
BCFG                     int64
FG+                      int64
MIFG                     int64
SQ                       int64
SN                       int64
VCFG                     int64
GR                       int64
Date            datetime64[ns]
dtype: object

Year           0
Month          0
Day            0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
BR             0
HZ             0
RA             0
TSRA           0
VCTS           0
FU             0
TS             0
DZ             0
BCFG           0
FG+            0
MIFG           0
SQ             0
SN             0
VCFG           0
GR             0
Date           0
dtype: int64

              Year        Month          Day         Tmax         Tmin  \
count  1472.000000  1472.000000  1472.000000  1472.000000  1472.000000
mean   2010.500000     7.500000    15.836957    76.166101    57.810462
std       2.292067     1.710526     8.857236    11.424705    10.270115
min    2007.000000     5.000000     1.000000    41.500000    29.000000
25%    2008.750000     6.000000     8.000000    68.500000    50.500000
50%    2010.500000     7.500000    16.000000    78.500000    59.500000
75%    2012.250000     9.000000    23.250000    84.500000    65.500000
max    2014.000000    10.000000    31.000000   103.500000    82.500000

             Tavg       Depart     DewPoint      WetBulb         Heat  ...  \
count  1472.00000  1472.000000  1472.000000  1472.000000  1472.000000  ...
mean     67.23947     1.954484    53.457880    59.298573     3.402853  ...
std      10.49547     6.841110    10.649199     9.262268     5.920106  ...
min      36.00000   -17.000000    22.500000    32.500000     0.000000  ...
25%      60.50000    -3.000000    46.000000    53.000000     0.000000  ...
50%      69.00000     2.000000    54.500000    60.500000     0.000000  ...
75%      75.50000     7.000000    61.500000    66.500000     4.500000  ...
max      93.50000    23.000000    74.500000    77.500000    29.000000  ...

                FU           TS           DZ         BCFG          FG+  \
count  1472.000000  1472.000000  1472.000000  1472.000000  1472.000000
mean      0.000679     0.000679     0.000679     0.000679     0.000679
std       0.026064     0.026064     0.026064     0.026064     0.026064
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

              MIFG           SQ           SN         VCFG           GR
count  1472.000000  1472.000000  1472.000000  1472.000000  1472.000000
mean      0.000679     0.000679     0.000679     0.000679     0.000679
std       0.026064     0.026064     0.026064     0.026064     0.026064
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

[8 rows x 34 columns]

In [127]:
columns = ['Sunrise',
           'Sunset']

for i in columns:
    weather_2[i] = weather_2[i].astype(float).astype(int)
    weather_2[i] = weather_2[i].astype(int).astype(str)

In [128]:
#changing Sunrise and Sunset to type - time
weather_2['Sunrise'] = str(0) + weather_2['Sunrise']
weather_2['Sunrise'] = weather_2['Sunrise'].str[0:2] + ":" + weather_2['Sunrise'].str[2:4] + ":00"

weather_2['Sunset'] = weather_2['Sunset'].str[0:2] + ":" + weather_2['Sunset'].str[2:4] + ":00"


weather_2['Sunrise'] = pd.to_timedelta(weather_2['Sunrise'])
weather_2['Sunset'] = pd.to_timedelta(weather_2['Sunset'])

In [129]:
weather_2['Date'] = weather_2.index

In [130]:
weather_2.to_csv("../datasets/weather_2.csv", index=False)

weather conclusion: <br>
weather.shape = (1472, 36) <br>

change the CodeSum to dummies

# Next, to explore train and test sets

Will merge both data sets, do data cleaning on both.
Then seperate them indivdually again

In [389]:
train = pd.read_csv('../datasets/train.csv')
test = pd.read_csv('../datasets/test.csv')

In [390]:
train.columns

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent'],
      dtype='object')

In [391]:
test.columns

Index(['Id', 'Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy'],
      dtype='object')

In [392]:
print(train.shape)
print(test.shape)

(10506, 12)
(116293, 11)

In [393]:
test = test.drop(['Id'], axis=1)

In [394]:
combined = pd.merge(train,test,how='outer')

In [395]:
explore(combined)

(126799, 12)

         Date                                            Address  \
0  2007-05-29  4100 North Oak Park Avenue, Chicago, IL 60634,...
1  2007-05-29  4100 North Oak Park Avenue, Chicago, IL 60634,...
2  2007-05-29  6200 North Mandell Avenue, Chicago, IL 60646, USA
3  2007-05-29    7900 West Foster Avenue, Chicago, IL 60656, USA
4  2007-05-29    7900 West Foster Avenue, Chicago, IL 60656, USA

                  Species  Block           Street  Trap  \
0  CULEX PIPIENS/RESTUANS     41   N OAK PARK AVE  T002
1          CULEX RESTUANS     41   N OAK PARK AVE  T002
2          CULEX RESTUANS     62    N MANDELL AVE  T007
3  CULEX PIPIENS/RESTUANS     79     W FOSTER AVE  T015
4          CULEX RESTUANS     79     W FOSTER AVE  T015

              AddressNumberAndStreet   Latitude  Longitude  AddressAccuracy  \
0  4100  N OAK PARK AVE, Chicago, IL  41.954690 -87.800991                9
1  4100  N OAK PARK AVE, Chicago, IL  41.954690 -87.800991                9
2   6200  N MANDELL AVE, Chicago, IL  41.994991 -87.769279                9
3    7900  W FOSTER AVE, Chicago, IL  41.974089 -87.824812                8
4    7900  W FOSTER AVE, Chicago, IL  41.974089 -87.824812                8

   NumMosquitos  WnvPresent
0           1.0         0.0
1           1.0         0.0
2           1.0         0.0
3           1.0         0.0
4           4.0         0.0

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos              float64
WnvPresent                float64
dtype: object

Date                           0
Address                        0
Species                        0
Block                          0
Street                         0
Trap                           0
AddressNumberAndStreet         0
Latitude                       0
Longitude                      0
AddressAccuracy                0
NumMosquitos              116293
WnvPresent                116293
dtype: int64

               Block       Latitude      Longitude  AddressAccuracy  \
count  126799.000000  126799.000000  126799.000000    126799.000000
mean       40.680092      41.848705     -87.694176         7.943186
std        24.866847       0.107139       0.082143         1.271056
min        10.000000      41.644612     -87.930995         3.000000
25%        17.000000      41.753391     -87.750938         8.000000
50%        38.000000      41.862292     -87.694991         8.000000
75%        61.000000      41.951866     -87.648064         9.000000
max        98.000000      42.017430     -87.531635         9.000000

       NumMosquitos    WnvPresent
count  10506.000000  10506.000000
mean      12.853512      0.052446
std       16.133816      0.222936
min        1.000000      0.000000
25%        2.000000      0.000000
50%        5.000000      0.000000
75%       17.000000      0.000000
max       50.000000      1.000000

In [396]:
#changing Date to type - date
combined['Date'] = pd.to_datetime(combined['Date'])

In [397]:
#taking out the address out of the data frame and store it in address in case we need it
Address = pd.DataFrame([combined.Address, combined.Block, combined.Street, combined.AddressNumberAndStreet, combined.AddressAccuracy])
Address = Address.T

#dropping duplicates
Address = Address.drop_duplicates()
print(Address.shape)

(151, 5)

In [398]:
combined = combined.drop(['Address','Block','Street','AddressNumberAndStreet','AddressAccuracy'],axis=1)

In [399]:
combined.head()

,Date,Species,Trap,Latitude,Longitude,NumMosquitos,WnvPresent
0,2007-05-29,CULEX PIPIENS/RESTUANS,T002,41.954690,-87.800991,1.0,0.0
1,2007-05-29,CULEX RESTUANS,T002,41.954690,-87.800991,1.0,0.0
2,2007-05-29,CULEX RESTUANS,T007,41.994991,-87.769279,1.0,0.0
3,2007-05-29,CULEX PIPIENS/RESTUANS,T015,41.974089,-87.824812,1.0,0.0
4,2007-05-29,CULEX RESTUANS,T015,41.974089,-87.824812,4.0,0.0

In [400]:
#change Species into dummy variables
column = ['Species']

combined = pd.get_dummies(data = combined, prefix=column, columns = column, drop_first=True)

In [401]:
combined.head(2)

,Date,Trap,Latitude,Longitude,NumMosquitos,WnvPresent,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS,Species_UNSPECIFIED CULEX
0,2007-05-29,T002,41.95469,-87.800991,1.0,0.0,0,1,0,0,0,0,0
1,2007-05-29,T002,41.95469,-87.800991,1.0,0.0,0,0,1,0,0,0,0

In [402]:
#do a groupby to combine the days where there are multiple trap rows
#ie those traps that has more than 50 mosquitos

combined_2 = combined.groupby(['Date','Trap']).agg({'Latitude':'max',
                                                    'Longitude':'max',
                                                    'Species_CULEX PIPIENS':'max',
                                                    'Species_CULEX PIPIENS/RESTUANS':'max',
                                                    'Species_CULEX RESTUANS':'max',
                                                    'Species_CULEX SALINARIUS':'max',
                                                    'Species_CULEX TARSALIS':'max',
                                                    'Species_CULEX TERRITANS':'max',
                                                    'Species_UNSPECIFIED CULEX':'max',
                                                    'NumMosquitos':'sum',
                                                    'WnvPresent':'max'})

In [403]:
combined_2.reset_index(inplace=True)

In [404]:
combined_2.shape

(18771, 13)

In [405]:
#Once we have combined all traps, we can use dummy variables on the Trap column
column = ['Trap']
combined_2 = pd.get_dummies(data = combined_2, prefix=column, columns = column, drop_first=True)

In [406]:
#filtering the Year out of the Date column
combined_2['Year'] = combined_2['Date'].dt.year

In [407]:
combined_2.head()

,Date,Latitude,Longitude,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS,Species_UNSPECIFIED CULEX,...,Trap_T232,Trap_T233,Trap_T234,Trap_T235,Trap_T236,Trap_T237,Trap_T238,Trap_T900,Trap_T903,Year
0,2007-05-29,41.954690,-87.800991,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2007
1,2007-05-29,41.994991,-87.769279,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2007
2,2007-05-29,41.974089,-87.824812,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2007
3,2007-05-29,41.921600,-87.666455,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2007
4,2007-05-29,41.891118,-87.654491,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2007

In [408]:
combined_2.shape

(18771, 161)

In [409]:
combined_2.to_csv("../datasets/combined_2.csv", index=False)

train/test conclusion: <br>
train.shape = (10506, 12) <br>
test.shape = (116293, 11) <br><br>
 
shorten to <br>
combined.shape = (18771, 161) <br>

Condensed the total Mosquitoes collected in each trap <br>
Change Species and Trap to dummies <br>
Stored Addresses in another df <br>
After dropping duplicates, only 151 unique addresses left <br>
Removed all addresses except Latitude and Longitude <br>
Changed Date to date format

In [410]:
train_2 = combined_2.loc[combined_2['Year'].isin([2007,2009,2011,2013])]
test_2 = combined_2.loc[combined_2['Year'].isin([2008,2010,2012,2014])]

In [411]:
train_2 = train_2.reset_index()
test_2 = test_2.reset_index()

In [412]:
train_2 = train_2.drop(['index','Year'], axis = 1)
test_2 = test_2.drop(['index','Year'], axis = 1)

In [413]:
train_2.to_csv("../datasets/train_2.csv", index=False) 
test_2.to_csv("../datasets/test_2.csv", index=False)

## Lastly, to check the format of the submission

In [415]:
sample = pd.read_csv('../datasets/samplesubmission.csv')

In [416]:
sample.head()

   Id  WnvPresent
0   1           0
1   2           0
2   3           0
3   4           0
4   5           0